# App Server
PORT=8448
HOST=0.0.0.0
NODE_ENV=production

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fond_shnau
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false

# S3
S3_ENDPOINT=https://storage.yandexcloud.net
S3_REGION=ru-central1
S3_BUCKET=shnau113

S3_ACCESS_KEY_ID=ajhdf89asdfh89asd   # ← твой Access Key ID
S3_SECRET_ACCESS_KEY=KJH78sdfkjsdf98sdf98sdf....  # ← длинный секрет

S3_PUBLIC_BASE_URL=https://shnau113.storage.yandexcloud.net
S3_FORCE_PATH_STYLE=false

# Upload limits
UPLOAD_MAX_FILE_SIZE_MB=25
UPLOAD_ALLOWED_MIME=image/jpeg,image/png,image/webp
UPLOAD_RATE_LIMIT_PER_MINUTE=20